<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index Page</title>
  </head>
  <body>
    <h1>Detailed page</h1>
    <form method="post">
      <input type="text" name="name" value="" placeholder="Enter your name">
      <input type="text" name="zID" value="" placeholder="Enter your zID">
      <input type="text" name="desc" value="" placeholder="One line description">
      <button type="submit" name="button">Say hi to me</button>
    </form>
  </body>
</html>
